body {
	padding: 30px;
    font-size: 18px;
    line-height: 30px;
}
section {
    background-color: lavender;
    margin: 10px;
    border: 1px solid darkblue;
	float: left;
	text-align: center;
}
footer {
	clear: both;
	width: 100%;
	text-align: center;
	font-size: smaller;
	position: absolute;
    bottom: 40px;
}
#enemies {
	width: 20%;
	height: 600px;
}
#hero {
	width: 35%;
	height: 300px;
}
#opponent {
	width: 35%;
	float: right;
	height: 300px;
}
#controls {
    width: 13%;
    position: absolute;
    top: 100px;
    left: 53%;
    border: 0px;
}
#message {
	width: 74%;
	height: 140px;
    padding: 10px;
    box-sizing: border-box;
    font-size: larger;
    background-color: white;
}
.character {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    width: 150px;
    height: 210px;
    border: 1px solid black;
    line-height: 20px;
}
#enemies .character .portrait {
    position: relative;
    left: -30px;
    top: -24px;
}
#enemies .character {
    width: 75px;
    height: 50px;
    line-height: 20px;
    float: left;
    margin: 8px;
}
#enemies .character .stats {
	display: none;
}
.stat {
	font-size: small;
    margin: 4px;
    padding: 0;
    line-height: 10px;
}
#attack {
	display: none;
}
#newGame {
	display: none;
}
#message.winMsg {
    background-color: green;
    color: white;
}
#message.loseMsg {
    background-color: red;
    color: white;
}
#message.gameOverMsg {
    background-color: black;
}