body {
	padding: 30px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Bitter', 'Times New Roman', serif;
    background-color: black;
    background-image: url('../images/Mark_Evans_tourney.jpg');
    background-size: cover;
}
h1 {
    color: red;
    text-shadow: black -2px 4px 4px;
    font-size: 68px;
    margin-bottom: 10px;
    font-family: 'Quintessential', cursive;
}
h2 {
    color: #4a1717;
    font-size: 31px;
    margin: 10px;     
    border-bottom: 1px solid;
    padding-bottom: 1px;
}
section {
    background-color: rgb(162, 125, 12);;
    margin: 10px;
    border: 2px solid #4a1717;
	float: left;
	text-align: center;
}
footer {
    font-size: 0.65em;
    line-height: 1.2em;
    position: absolute;
    bottom: 15px;
    color: #666;
}
#enemies {
	width: 191px;
	height: 600px;
}
#enemies .character .portrait {
    position: relative;
    left: -30px;
    top: -24px;
}
#enemies .character {
    width: 68px;
    height: 50px;
    line-height: 20px;
    float: left;
    margin: 8px;
}
#enemies .character .stats {
    display: none;
}
#hero {
	width: 35%;
	height: 300px;
}
#opponent {
	width: 35%;
	float: right;
	height: 300px;
}
#controls {
    width: 13%;
    position: absolute;
    top: 100px;
    left: 51%;
    border: 0px;
}
#message {
	width: 74%;
	height: 140px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    font-size: larger;
    background-color: #aaa;
    color: #4a1717;
}
#message.winMsg {
    background-color: green;
    color: white;
}
#message.loseMsg {
    background-color: red;
    color: white;
}
#message.gameOverMsg {
    background-color: black;
}
.character {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    width: 130px;
    padding: 4px;
    border: 1px solid black;
    line-height: 20px;
    background-color: #d4cdb8;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
.stat {
	font-size: small;
    font-weight: lighter;
    margin: 4px;
    padding: 0;
    line-height: 10px;
}
#attack {
	display: none;
}
#newGame {
	display: none;
}
/* responsive styles! */
@media screen and (max-width: 1015px) {
    #enemies .character {
        margin: 8px 32px;
    }
    #enemies h2 {
        font-size: 24px;
    }
   #enemies {
        height: auto;
        width: 138px;
    }
}
@media screen and (max-width: 810px) {
    #message {
        width: 60%;
    }
    #hero, #opponent {
        width: 180px;
    }
    #enemies h2 {
        font-size: 18px;
    }
}
@media screen and (max-width: 645px) {
    #enemies {
        position: absolute;
        top: 550px;
        width: 100%;
    }
    #enemies h2 {
        font-size: 32px;
    }
    #controls {
        left: 41%;
    }    
    #message {
        width: 100%;
    }
}
@media screen and (max-width: 505px) {
    h1 {
        font-size: 50px;
    }
    section, #opponent, #hero {
        float: inherit;
    } 
    #enemies {
        top: 870px;
    }
    footer {
        font-size: 12px;
    }
    #controls {
        position: static;
        padding: 10px;
        clear: both;
        width: 160px;
        background-color: red;
    }
    #message {
        font-size: 16px;
    }

}
@media screen and (max-width: 395px) {
    h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 300px) {
    #enemies {
        width: 200px;
    }
    #enemies h2 {
        font-size: 24px;
    }
}